.searchBar {
  display: inline-flex;
  column-gap: 180px;
  background: rgb(23, 25, 30);
  background: linear-gradient(
    0deg,
    rgba(23, 25, 30, 1) 0%,
    rgba(42, 45, 60, 1) 100%
  );
  padding: 15px;
  margin: auto;
  border-radius: 10px;
  margin-bottom: 50px;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #4e7f82,
    0 0 0.8rem #4e7f82, 0 0 2.8rem #4e7f82, inset 0 0 1.3rem #4e7f82;
}
.search {
  top: 0;
  right: 4%;
}

.search input {
  padding: 5px;
  width: 140px;
  border-radius: 10px;
  font-size: 14px;
}
.search button {
  padding: 5px;
  width: 60px;
  color: #fff;
  border-radius: 10px;
  font-size: 13px;
  cursor: pointer;
}

.search button:hover {
  background-color: #4e7f82;
  transition: 0.3s;
  color: white;
}
/*
@media (max-width: 1300px) {
  .searchBar {
    column-gap: 100px;
  }
}

@media (max-width: 1100px) {
  .searchBar {
    column-gap: 10px;
  }
}

@media (max-width: 840px) {
  .searchBar {
    display: block;
  }
}





*/
