ul {
  list-style-type: none;
}

.paginador {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.number .buttonPag {
  padding: 20px 15px;
  height: 32px;
  text-align: center;
  margin: auto 2px;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  box-sizing: border-box;
  align-items: center;
  letter-spacing: 0.01071em;
  border-radius: 10px;
  line-height: 2.5;
  min-width: 20px;
  background-color: white;
  opacity: 0.7;
  cursor: pointer;
  font-size: 15px;
}
.number .buttonPag:hover {
  background-color: #4e7f82;
  transition: 0.3s;
  color: white;
}

.number .buttonPag:active {
  background-color: #4e7f82;
}
