nav ul li {
  float: left;
  list-style: none;
  margin: 10px;
}

.paginador {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 80%;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top: 9rem;
}
.countries {
  display: flex;
  flex-direction: column;
  width: 100%;
}
